<b> A quanti canali ti vuoi iscrivere? </b><br />
<input #input type="number" (change)="showCard(+input.value)" />
<br />
<b> Quale canale desidere visualizzare?</b>
<br />

<select #selected (change)="chooseCard(+selected.value)">
  <option *ngFor="let number of cards" [value]="number.id">
    Canale {{ number.id }}
  </option>
</select>

<div *ngFor="let item of cards">
  <div class="card" style="width: 18rem">
    <img
      src="{{ item.thumbnailUrl }}"
      class="card-img-top"
      alt="{{ item.thumbnailUrl }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">
        {{ item.title }}
      </p>
    </div>
  </div>
</div>
